body{
    font-family: consolas;
    font-size: 16px;
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    background-image: url('kyrassets/topography.png');
}

ul{
    background-color: #333333;
    list-style-type: none;
    margin: 0px;
    padding: 8px;    
}

ul li{
    display: inline;
    color: #ff0099;
}

ul li a{
    float: right;
    padding: 8px 16px;
    
}

h3{    
    font-size: 20px;
}

.pink{
    color: #ff0099;
}

p{
    font-family: consolas;
    font-weight: bold;
}

.center{
    text-align: center;
    margin: 30px;
}

dt{
    font-weight: bolder;
}
